# dependencias
/node_modules

# next.js
/.next/
/out/
/build
next-env.d.ts
*.tsbuildinfo

# tests
/coverage

# entorno (nunca subir claves reales)
.env
.env*.local
.env.development
.env.production

# supabase local
supabase/.temp
supabase/.branches

# sistema / editores
.DS_Store
*.pem
.vercel
npm-debug.log*
.idea
.vscode/*
!.vscode/extensions.json
